div.background
  div.cable
      div.leaf.leaf-1
      div.leaf.leaf-2
      div.leaf.leaf-3
      div.leaf.leaf-4
  div.cable.cable-2
      div.leaf.leaf-1
      div.leaf.leaf-2
      div.leaf.leaf-3
      div.leaf.leaf-4
  div.cable.cable-3
      div.leaf.leaf-1
      div.leaf.leaf-2
      div.leaf.leaf-3
      div.leaf.leaf-4
  div.cable.cable-4
      div.leaf.leaf-1
      div.leaf.leaf-2
      div.leaf.leaf-3
      div.leaf.leaf-4
  div.cable.cable-5
      div.leaf.leaf-1
      div.leaf.leaf-2
      div.leaf.leaf-3
      div.leaf.leaf-4
  div.cable.cable-6
      div.leaf.leaf-1
      div.leaf.leaf-2
      div.leaf.leaf-3
      div.leaf.leaf-4
  div.cable.cable-7
      div.leaf.leaf-1
      div.leaf.leaf-2
      div.leaf.leaf-3
      div.leaf.leaf-4